# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Ignore Class Files
*.class

# Ignore Jar Files
*.jar

# Ignore Database Files
*.db

# Gabriel R's personal ignore
*.un~

# Ignore .txt files for testing. If .txt needed, remove
*.txt
